In [3]:
import pandas as pd
import re

In [4]:
df = pd.read_csv("datasets\IMDB Dataset.csv",nrows=100)

<>:1: SyntaxWarning: invalid escape sequence '\I'
<>:1: SyntaxWarning: invalid escape sequence '\I'
C:\Users\divya\AppData\Local\Temp\ipykernel_9188\4190317614.py:1: SyntaxWarning: invalid escape sequence '\I'
  df = pd.read_csv("datasets\IMDB Dataset.csv",nrows=100)

In [5]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

### preprocess the dataset

In [6]:
def preprocess(text):
    #lowercase
    text = text.lower()
    
    # Removing punctuation and numbers and HTML tag
    text = re.sub(r'[^\w\s]','',text)
    text = re.sub(r'\d+','',text)
    text = re.sub(r'<[^>]+>', '', text)
    
    return text

In [7]:
df['review'] = df['review'].apply(preprocess)

In [8]:
df.head()

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production br br the filmin...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically theres a family where a little boy j...  negative
4  petter matteis love in the time of money is a ...  positive

In [9]:
df.shape

(100, 2)

### One Hot Encoding

In [10]:
from sklearn.preprocessing import OneHotEncoder

# Example for structured categorical data
encoder = OneHotEncoder()
one_hot_matrix = encoder.fit_transform([[1], [2], [3]])  # For categorical numbers or labels
print(one_hot_matrix.toarray())

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

In [11]:
# Initialize the OneHotEncoder
encoder = OneHotEncoder(sparse_output=False)

# Fit and transform the 'review' column
encoded_array = encoder.fit_transform(df[['review']])  # Pass as a 2D array

# Create a DataFrame for the one-hot encoded matrix
one_hot_df = pd.DataFrame(encoded_array)

# Combine with the original DataFrame
one_hot_df = pd.concat([df, one_hot_df], axis=1)

# Display the resulting DataFrame
one_hot_df.head()

,review,sentiment,0,1,2,3,4,5,6,7,...,90,91,92,93,94,95,96,97,98,99
0,one of the other reviewers has mentioned that ...,positive,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,a wonderful little production br br the filmin...,positive,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,i thought this was a wonderful way to spend ti...,positive,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,basically theres a family where a little boy j...,negative,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,petter matteis love in the time of money is a ...,positive,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Bag of Words

In [12]:
from sklearn.feature_extraction.text import CountVectorizer

In [13]:
vectorizer = CountVectorizer()
bag_of_words = vectorizer.fit_transform(df["review"])

# Get the feature names (vocabulary)
vocabulary = vectorizer.get_feature_names_out()
print("Vocabulary:", vocabulary)

# Convert the BoW matrix to a dense array for better readability
bow_array = bag_of_words.toarray()

# Add the BoW representation back to the DataFrame
bow_df = pd.DataFrame(bow_array, columns=vocabulary)
bow_df = pd.concat([df, bow_df], axis=1)
bow_df.head()

Vocabulary: ['abbot' 'abbreviated' 'abetted' ... 'zoo' 'zooms' 'zwick']

,review,sentiment,abbot,abbreviated,abetted,abiding,ability,able,about,aboveaverage,...,zany,zellweger,zerog,zeus,zombie,zombiebr,zone,zoo,zooms,zwick
0,one of the other reviewers has mentioned that ...,positive,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,a wonderful little production br br the filmin...,positive,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,i thought this was a wonderful way to spend ti...,positive,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,basically theres a family where a little boy j...,negative,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
4,petter matteis love in the time of money is a ...,positive,0,0,0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,0,0

### n-gram

In [14]:
# Initialize CountVectorizer for trigrams
vectorizer = CountVectorizer(ngram_range=(3, 3))  # 3-grams

# Fit and transform the 'review' column
X = vectorizer.fit_transform(df['review'])

# Get the trigram feature names
trigram_features = vectorizer.get_feature_names_out()

# Convert the sparse matrix to a DataFrame for readability
trigram_df = pd.DataFrame(X.toarray(), columns=trigram_features)

# Display the resulting trigram DataFrame
trigram_df.head()

,abbot whom he,abbreviated storyline was,abetted by her,abetted by superior,abiding and inoffensive,abiding citizens knowing,ability to shoot,able to make,able to stand,about an actor,...,zellweger who helps,zerog monkeymidgetcrocodile bloodshedbr,zeus and hera,zeus followers do,zombie in his,zombiebr br ok,zone with gun,zoo where they,zooms grainy blacks,zwick shame however
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### TF-IDF

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Initialize TfidfVectorizer
vectorizer = TfidfVectorizer()

# Fit and transform the 'review' column
tfidf_matrix = vectorizer.fit_transform(df['review'])

# Get the feature names (vocabulary)
feature_names = vectorizer.get_feature_names_out()

# Convert the TF-IDF matrix to a DataFrame
tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=feature_names)

# Display the resulting TF-IDF DataFrame
tfidf_df.head()

,abbot,abbreviated,abetted,abiding,ability,able,about,aboveaverage,abraham,abrahams,...,zany,zellweger,zerog,zeus,zombie,zombiebr,zone,zoo,zooms,zwick
0,0.0,0.0,0.0,0.0,0.0,0.0,0.025749,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.039272,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.111823,0.111823,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.062744,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0

### Word2Vec

In [ ]:
import nltk
nltk.download('punkt')

In [17]:
# Word Tokenization function
def word_tokenize_text(text):
    return nltk.word_tokenize(text)

# Sentence Tokenization function
def sentence_tokenize_text(text):
    return nltk.sent_tokenize(text)

In [18]:
df['word_tokens'] = df['review'].apply(word_tokenize_text)

In [19]:
df.head()

,review,sentiment,word_tokens
0,one of the other reviewers has mentioned that ...,positive,"[one, of, the, other, reviewers, has, mentione..."
1,a wonderful little production br br the filmin...,positive,"[a, wonderful, little, production, br, br, the..."
2,i thought this was a wonderful way to spend ti...,positive,"[i, thought, this, was, a, wonderful, way, to,..."
3,basically theres a family where a little boy j...,negative,"[basically, theres, a, family, where, a, littl..."
4,petter matteis love in the time of money is a ...,positive,"[petter, matteis, love, in, the, time, of, mon..."

In [22]:
from gensim.models import Word2Vec

# Step 2: Train a Word2Vec model
# Define model parameters
word2vec_model = Word2Vec(
    sentences=df['word_tokens'],  # List of tokenized sentences
    vector_size=100,           # Dimensionality of word embeddings
    window=5,                  # Context window size
    min_count=1,               # Ignore words with a frequency lower than this
    workers=4,                 # Number of parallel workers
    sg=0                       # 0 for CBOW, 1 for Skip-gram
)

In [28]:
# Example: Compute the mean vector for each review
df['review_vector'] = df['word_tokens'].apply(
    lambda words: sum(word2vec_model.wv[word] for word in words if word in word2vec_model.wv) / len(words)
)
df['review_vector'][0]

array([-0.18526322,  0.17272234,  0.12312676,  0.07120798, -0.03352644,
       -0.41160882,  0.18118086,  0.4768373 , -0.26134506, -0.2193329 ,
       -0.13564757, -0.38518932,  0.01202515,  0.10026321,  0.11794888,
       -0.19091594,  0.10174097, -0.36349124, -0.09530882, -0.57075   ,
        0.12012472,  0.07383858,  0.27384052, -0.10495313, -0.05607019,
       -0.03104756, -0.23598477,  0.00225563, -0.13238224,  0.03206331,
        0.2071811 ,  0.05074095,  0.07100155, -0.28545338, -0.10663218,
        0.3003051 ,  0.07042062, -0.08861323, -0.18243518, -0.33805272,
       -0.00104704, -0.21525255, -0.24128957,  0.06726442,  0.2282033 ,
       -0.08176181, -0.19348603,  0.01393212,  0.10002269,  0.16291012,
        0.1122895 , -0.11926214, -0.01947159, -0.1130769 , -0.11944732,
        0.07620016,  0.18933299, -0.05490986, -0.20142736,  0.12576891,
        0.06551478, -0.03039569,  0.12051041, -0.01109633, -0.41042542,
        0.26258168,  0.00988878,  0.29271588, -0.40375605,  0.3326944 ,
       -0.03087601,  0.28448895,  0.2727731 ,  0.00369025,  0.35224304,
        0.10081268,  0.12818578, -0.01722231, -0.19663168, -0.01443088,
       -0.29866812, -0.08164228, -0.15624157,  0.3221591 , -0.16183022,
       -0.01871179,  0.14662455,  0.15619817,  0.27687827,  0.025989  ,
        0.30724952,  0.17983149,  0.11114272, -0.01366403,  0.45402557,
        0.23091649,  0.01203672, -0.18498752,  0.09905495, -0.04264362],
      dtype=float32)

In [29]:
df.head()

,review,sentiment,word_tokens,review_vector
0,one of the other reviewers has mentioned that ...,positive,"[one, of, the, other, reviewers, has, mentione...","[-0.18526322, 0.17272234, 0.12312676, 0.071207..."
1,a wonderful little production br br the filmin...,positive,"[a, wonderful, little, production, br, br, the...","[-0.21339668, 0.20102209, 0.14113054, 0.083450..."
2,i thought this was a wonderful way to spend ti...,positive,"[i, thought, this, was, a, wonderful, way, to,...","[-0.20204389, 0.18883367, 0.13426387, 0.077991..."
3,basically theres a family where a little boy j...,negative,"[basically, theres, a, family, where, a, littl...","[-0.21952954, 0.20559335, 0.1454614, 0.0844681..."
4,petter matteis love in the time of money is a ...,positive,"[petter, matteis, love, in, the, time, of, mon...","[-0.20852612, 0.19589326, 0.13880178, 0.080747..."